{% extends 'vistas/main.html' %}
{% load static %}
{% block title %}
<title>Información</title>
{% endblock %}

{% block content %}
<h1>Información de la página</h1>
<h4>Proyecto "Deportes Luchin" realizado por: </h4>
<ul>
    <li>
        <p>ESTEBAN ELIAS SAN MARTIN BERNAL</p>
    </li>
    <li>
        <p>LUIS ANGEL DOMINGUEZ JACINTO</p>
    </li>
    <li>
        <p>MANUEL ALEJANDRO OSORIO VINNETT</p>
    </li>
</ul>

<p>
    Todas las herramientas externas a Django que fueron
    usadas las puede encontrar en el footer
</p>
<br>
<p>Esta aplicación fue desarrollada solo para el ramo "Diseño de aplicaciones WEB"
    y para entrega de la profesora MARIANGELES ROBINSON ALHICEMA
</p>
{% endblock %}