{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}{% endblock %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/picnic">
    <link rel="stylesheet" href="{% static '/css/main.css' %}">
</head>
<body>
    {% include 'vistas/nav.html' %}
    <br>
    <br>
    <br>
    <main class="main" id="main">
        <div class="container">
            {% block content %}
            {% endblock %}
        </div>
    </main>    
    <br>
    <footer class="footer">
        <div class="container">
          <p>Evaluacion 2</p>
          <a href="https://picnicss.com/">Picnic CSS</a>
          <br>
          <a href="https://www.cssscript.com/swipeable-carousel-otslider/">Otslider carrousel</a>
        </div>
    </footer>
</body>
</html>