{% load static %}
<nav class="demo">
    <a href="#" class="brand">
      <img class="logo" src="{% static 'img/Logo.png' %}" />
      <span>Deportes Luchin</span>
    </a>
  
    <!-- responsive-->
    <input id="bmenub" type="checkbox" class="show">
    <label for="bmenub" class="burger pseudo button">menu</label>
  
    <div class="menu" style="background-color: #93cdee;">
      <a href="/" class="pseudo button">Inicio</a>
      <a href="/about" class="pseudo button">Quienes Somos</a>
      <button href="/FormularioContacto" class="myPersonalBtn">Registrarse</button>
      
    </div>
  </nav> 
</div>